 #courses {
  background-color: #ffffff;
}


.course-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}


.course-card {
  background: white;
  padding: 25px;
  width: 260px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  transition: 0.3s;
}


.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}
