<div class="panel-container">

  <!-- TOP -->
  <div class="topbar">

    <h1>Panel Administrativo</h1>

    <p>
      Bienvenida al sistema de gestión EduSmart
    </p>

    <a
      routerLink="/"
      class="home-btn">

      ⬅ Volver al Inicio

    </a>

  </div>

  <!-- CARDS -->
  <div class="cards">

    <div class="card">

      <h3>Total Cursos</h3>

      <p>
        Cursos registrados en la plataforma.
      </p>

      <span>12</span>

    </div>

    <div class="card">

      <h3>Enrollments</h3>

      <p>
        Inscripciones activas realizadas.
      </p>

      <span>35</span>

    </div>

    <div class="card">

      <h3>Usuarios</h3>

      <p>
        Estudiantes registrados actualmente.
      </p>

      <span>50</span>

    </div>

  </div>

</div>  